# ---- ENV ----
.env
.env.local
.env.production

# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# ---- Virtual env ----
venv/
torchenv/

# ---- Node ----
node_modules/
dist/
build/

# ---- ML Models ----
*.joblib
*.pt
*.onnx
models_out/
models_out_fixed/

# ---- Logs ----
*.log

# ---- Editors ----
.vscode/
.idea/
.DS_Store
Thumbs.db
